body {background-color: white; color: black;font-family: Verdana, Arial, sans-serif; font-size: 85%;}

td {font-size: 85%;}

h1 {font-size: 130%;}

.hover {font-color:red;}

p.sep {border-top: 2 solid black; border-bottom: 2 solid black; margin-top:0; margin-bottom:0;background-color:#EEEEEE;}
form {margin-bottom:0;)